{% extends 'base.html' %}

{% block body %}
  <div class="row">
    <div class="small-6 small-centered medium-5 medium-centered large-centered large-4 columns">
      <h4>Password Reset</h4>
      <div class="row">
        <div class="small-centered large-centered columns">
          <form method="POST">
            {% csrf_token %}
            <label for="email">Email</label>
            {{ form.email }}
            <button type="submit" class="button">Send Link</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
