{% extends 'base.html' %}

{% block body %}

  <!-- Box Contents -->
  <div class="row">
    <div class="small-centered large-centered columns">
        <h3>Help</h3>
        <p class="help">Link in a Box is designed to contain a single link, email address, phone number, or just plain text for a user
        that may be accessed at a later time on any device. If you constantly email yourself links or you're tired of filling up
        your favorites or bookmarks with articles or things you only want to read once, this app is for you.</p>

        <p class="help">Only one piece of data may be saved at once (for the time being), so clicking the "Save for later" button will
        overwrite the old link (or data) with the new link provided.</p>

        <h5>Text</h5>
        <p class="help">Plain text can be used to save any information desired, but keep in mind that none of these forms of data can be mixed together.
        For example, you can't have plain text with a link or an email address and a phone number in your box at the same time. Support
        for this feature may be added in the future.</p>

        <h5>Links</h5>
        <p class="help">A link can be linked to anything including web pages, images, videos, or anything else using the HTTP or HTTPS protocols.</p>

        <h5>Email Adresses</h5>
        <p class="help">Saving a valid email address will allow you to follow a "mailto" link which will take you to your default email software
        with a new message to that address.</p>

        <h5>Phone Numbers</h5>
        <p class="help">If you're using a smartphone, clicking on the phone number link will prompt you to call the phone number. On a desktop or laptop,
        an external application must be used.</p>
    </div>
  </div>
{% endblock %}
